In [12]:
import pandas as pd
import numpy as np
import gc
import logging

from config.database import HOST, PORT, USER, PASSWORD, DATABASE

import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import types as sqltype
from config.database import HOST, PORT, USER, PASSWORD, DATABASE

psql_engine = create_engine("postgresql://"+USER+":"+PASSWORD+"@"+HOST+":"+str(PORT)+"/"+DATABASE)

In [13]:
with psql_engine.connect() as conn:
    df = pd.read_sql("SELECT thread_id FROM thread WHERE thread_type='email';", con= conn)

In [14]:
df

                                                thread_id
0       gdal#176#CD24931C.4A065%%michael.smith@usace.a...
1       gdal#131#CD24931C.4A065%%michael.smith@usace.a...
2       gdal#34#CAD7F3EC.18D7B%%michael.smith@usace.ar...
3       gdal#11#D2D5A00C.321C5%%benjamin.stadin@heidel...
4       gdal#16#D2D5B596.3221B%%benjamin.stadin@heidel...
...                                                   ...
180266  grass#53#199306211312.AA23365@zorro.cecer.army...
180267  grass#320#041.7e7468d0484daac1e013453d6b2da9ad...
180268          grass#54#9306211631.AA22823@cast.uark.edu
180269                    grass#55#9306221711.AA08627@nps
180270                    grass#56#9306221952.AA09097@nps

[180271 rows x 1 columns]

In [16]:
df[df.where(df["thread_id"]=="fdo-internals#1#D20FC5C02CA4AB41891CFE76D91C57A9384F6D8C4E@ADSK-NAMSG-02.MGDADSK.autodesk.com")].drop_duplicates()

  thread_id
0       NaN

In [ ]:
with psql_engine.connect() as conn:
    count_num = 0
    for thisid in df['thread_id'].values :
        sql = """ DELETE FROM thread WHERE thread_id='%s'""" %(thisid)
        conn.execute(sql)
        count_num+= 1
        if not(count_num%1000) :
            print("Delete:", count_num)